*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: auto;
    height: 50px;
    margin-right: -35px;
    margin-right: -35px;
    
}
body{
    background-color: gainsboro;
}
nav{
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    
}
a{
    display: inline-block;
    text-decoration: none;
    margin: 0.5px;
    background-color: lightslategray;
    padding: 5px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid lightslategray;
}
a:hover{
    background-color: white;
    color:lightslategray ;
    
}

.caixa{
    position: relative;
}

ul{
    display: none;
    border: 1px solid black;
    width: 100px;
    padding:10px;
    position: absolute;
    top:100%
}

.caixa:hover ul{
    display: block;
}

ul > li{
    list-style: none;
    font-size: 0.8rem;
}
ul > li:hover{
    font-weight: bold;
    list-style: none;   
    font-size: 0.8rem;
}